body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hero-img {
  border-radius: 120px;
}

.hero-text {
  font-weight: bold;
}

.hero {
  background-image: url("https://trello-attachments.s3.amazonaws.com/5c3174bfd2f31c356736c742/5eadcb13c82db90ac430e6ba/01b4a924b1c60e0662e9f72421588ae3/cool-background.png";);
}

.navHead {
  background-color: #ffffff;
}

.hero-icon {
  width: 5%;
  margin-left: 1rem;
  margin-right: 1rem;
}
